<ion-header>
  <ion-toolbar>
    <ion-title>Reporting</ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-content>-->
<!--  <h3>Report</h3>-->
<!--  <ion-textarea id="textReport"></ion-textarea>-->


<!--<ion-button size="large">Report</ion-button>-->


<!--</ion-content>-->


<ion-content>
  <form  #form="ngForm" (ngSubmit)="report(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Report</h3>
          </div>
          <div padding>
<!--            <ion-item>-->
<!--              <ion-input  name="name" type="text" placeholder="Name" ngModel required></ion-input>-->
<!--            </ion-item>-->

            <ion-item>
              <ion-textarea id="textReport" type="text" required="true"></ion-textarea>
            </ion-item>


          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Submit</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
