<ion-header>
  <ion-toolbar>
    <ion-title>Report Your Activity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form  #form="ngForm" (ngSubmit)="login(form)">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <h3>Haloo!</h3>
            </div>
            <div padding>
              <ion-item>
                <ion-input id="email" name="email" type="email" placeholder="your@email.com"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input id="password" name="password" type="password" placeholder="Password"></ion-input>
              </ion-item>
            </div>
            <div padding>
              <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
</ion-content>
